# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=

# Collection IDs
NEXT_PUBLIC_APPWRITE_CATEGORIES_ID=
NEXT_PUBLIC_APPWRITE_PRODUCTS_ID=
NEXT_PUBLIC_APPWRITE_USERS_PROFILE_ID=
NEXT_PUBLIC_APPWRITE_CART_ITEMS_ID=
NEXT_PUBLIC_APPWRITE_ORDERS_ID=

# Server-side (Optional)
APPWRITE_API_KEY=
